{% extends "website/base.html" %}
{% load static %}
{% block title %} {{ page }} {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="hero page-inner overlay" style="background-image: url('{{ page_content.0.image_main.url }}');">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-9 text-center mt-5">
					<h1 class="heading" data-aos="fade-up">{{ page }}</h1>
				</div>
			</div>
		</div>
	</div>


	<div class="section">
		<div class="container">
			<div class="row text-left mb-5">
				<div class="col-12">
					<h2 class="font-weight-bold heading text-primary mb-4">Nosotros</h2>
				</div>
				<div class="col-lg-8 mr-auto">
					<div class="text-black-50">
						{{ page_content.0.content|safe }}
					</div>
				</div>
			</div>

		</div>
	</div>



	{% endblock content %}

	<!-- Specific Page JS goes HERE  -->
	{% block javascripts %}{% endblock javascripts %}