{% extends "website/base.html" %}
{% load static %}
{% block title %} {{ page }} {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="hero page-inner overlay" style="background-image: url('{{ articulo.image_main.url }}');">

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">{{ articulo.title }}</h1>

                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    {% if articulo.subtitle %}
                    <p class="breadcrumb text-center justify-content-center">
                        {{ articulo.subtitle }}
                    </p>
                    {% endif %}
                </nav>


            </div>
        </div>


    </div>
</div>


<div class="section section-properties">
    <div class="container">
        <!-- Artículo -->
        <div class="row">
            <!--div class="col-lg-7">
                <div class="img-property-slide-wrap">
                    <div class="img-property-slide">
                        <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                        <img src="images/img_2.jpg" alt="Image" class="img-fluid">
                        <img src="images/img_3.jpg" alt="Image" class="img-fluid">
                    </div>
                </div>
            </div-->
            <div class="col-lg-8 col-lg-offset-2 col-md-offset-2">
                {% if articulo.image_01 or articulo.image_02 or articulo.image_03 or articulo.image_04 or articulo.image_05 %}
                <div class="img-property-slide-wrap">
                    <div class="img-property-slide">
                        {% if articulo.image_01 %}
                        <img src="{{ articulo.image_01.url }}" alt="" class="img-fluid">
                        {% endif %}
                        {% if articulo.image_02 %}
                        <img src="{{ articulo.image_02.url }}" alt="" class="img-fluid">
                        {% endif %}
                        {% if articulo.image_03 %}
                        <img src="{{ articulo.image_03.url }}" alt="" class="img-fluid">
                        {% endif %}
                        {% if articulo.image_04 %}
                        <img src="{{ articulo.image_04.url }}" alt="" class="img-fluid">
                        {% endif %}
                        {% if articulo.image_05 %}
                        <img src="{{ articulo.image_05.url }}" alt="" class="img-fluid">
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="">
                    <h2 class="heading text-primary">{{ articulo.title }}</h2>
                    <p class="meta"><strong>Fecha:</strong> {{ articulo.date }}</p>
                    <div class="text-black-50 alert alert-warning">
                        {{ articulo.abstract|safe }}
                    </div>
                    <div class="text-black-50">
                        {{ articulo.content|safe }}
                    </div>
                    
                    <!--div class="d-block agent-box p-5">
                        <div class="img mb-4">
                            <img src="images/person_2-min.jpg" alt="Image" class="img-fluid">
                        </div>
                        <div class="text">
                            <h3 class="mb-0">Alicia Huston</h3>
                            <div class="meta mb-3">Real Estate</div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione laborum quo quos omnis sed magnam id ducimus saepe</p>
                            <ul class="list-unstyled social dark-hover d-flex">
                                <li class="me-1"><a href="#"><span class="icon-instagram"></span></a></li>
                                <li class="me-1"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="me-1"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="me-1"><a href="#"><span class="icon-linkedin"></span></a></li>
    
                            </ul>
                        </div>
                    </div-->
                </div>



            </div>


            {% if articulo.fk_agent %}
            <div class="col-lg-4">

                <div class="d-block agent-box p-5">
                    <div class="img mb-4">
                        <a href="{% url 'agents_detail' articulo.fk_agent.id %}">
                        <img src="{{ articulo.fk_agent.image_main.url }}" alt="{{ articulo.fk_agent.name }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="text">
                        <h3 class="mb-0"><a href="{% url 'agents_detail' articulo.fk_agent.id %}">{{ articulo.fk_agent.name }}</a></h3>
                        <div class="meta mb-3">Agente inmobiliario</div>
                        <div>{{ articulo.fk_agent.description|safe }}</div>
                        <ul class="list-unstyled social dark-hover d-flex">
                        {% if articulo.fk_agent.url_twitter %}
                            <li class="list-inline-item">
                                <a href="{{ articulo.fk_agent.url_twitter }}"><span class="icon-twitter"></span></a>
                            </li>
                        {% endif %}
                        {% if articulo.fk_agent.url_facebook %}
                            <li class="list-inline-item">
                                <a href="{{ articulo.fk_agent.url_facebook }}"><span class="icon-facebook"></span></a>
                            </li>
                        {% endif %}
                        {% if articulo.fk_agent.url_linkedin %}
                            <li class="list-inline-item">
                                <a href="{{ articulo.fk_agent.url_linkedin }}"><span class="icon-linkedin"></span></a>
                            </li>
                        {% endif %}
                        {% if articulo.fk_agent.url_instagram %}
                            <li class="list-inline-item">
                                <a href="{{ articulo.fk_agent.url_instagram }}"><span class="icon-instagram"></span></a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <hr>


    </div>
</div>


	{% endblock content %}

	<!-- Specific Page JS goes HERE  -->
	{% block javascripts %}{% endblock javascripts %}