{% extends "panel/base_admin.html" %}
{% load static %}
{% block title %} {{ page }} {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main id="main" class="main">

  <div class="pagetitle">
  <h1>{{ page }}</h1>
    {% include 'panel/breadcrumb.html' %}
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
            <div class="card">

              <div class="card-body">
                <h2 class="card-title"> {{ item.name }} </h2>
                {% if 'articulo' in request.path %} 
                <p><strong>Estado:</strong> 
                  {% if item.draft == False %}
                    <span class="badge badge-success">Activo</span>
                  {% else %}
                    <span class="badge badge-warning">Borrador</span>
                  {% endif %}
                </p>
                  {% if item.fk_categoria %}
                <p><strong>Categoría:</strong> <span class="badge badge-info">{{ item.fk_categoria }}</span></p>
                  {% endif %}
                {% endif %}

                  {% if item.image %}
                    <div class="text-center">
                      <a href="{{ item.image.url }}" target="_blank">
                        <img class="img img-thumbnail" src="{{ item.image.url }}" width="250" alt="{{ item.name }}" />
                      </a><br /><br />
                      <span class="text-center"><strong>URL:</strong> 
                        <a href="{{ item.image.url }}" target="_blank">{{ item.image.url }}</a></span>
                    </div><br />
                  {% endif %}
                  {% if item.pic %}
                    <div class="text-center">
                      <img class="img img-thumbnail" src="{{ item.pic.url }}" width="250" alt="{{ item.name }}" /><br /><br />
                      <span class="text-center"><strong>URL:</strong> {{ item.pic.url }}</span>
                    </div><br />
                  {% endif %}

                  {% if item.name %}
                <p><strong>Nombre:</strong> {{ item.name }}</p>
                  {% endif %}
                  {% if item.date %}
                <p><strong>Fecha:</strong> {{ item.date }}</p>
                  {% endif %}


                <!-- Property -->
                  {% if item.address %}
                <p><strong>Dirección:</strong> {{ item.address }}</p>
                  {% endif %}

                  {% if item.price %}
                <p><strong>Precio:</strong> {{ item.price }}</p>
                  {% endif %}

                  {% if item.location %}
                <p><strong>Localización:</strong> {{ item.location }}</p>
                  {% endif %}
  

                <!-- Agent -->
                  {% if item.email %}
                <p><strong>Correo electrónico:</strong> {{ item.email }}</p>
                  {% endif %}
                  {% if item.description %}
                <p><strong>Descripción:</strong></p>
                <div>{{ item.description }} </div><br />
                  {% endif %}
                  {% if item.url_twitter %}
                <p><strong>Twitter:</strong> <a href="{{ item.url_twitter }}" target="_blank">{{ item.url_twitter }}</a></p>
                  {% endif %}
                  {% if item.url_facebook %}
                <p><strong>Facebook:</strong> <a href="{{ item.url_facebook }}" target="_blank">{{ item.url_facebook }}</a></p>
                  {% endif %}
                  {% if item.url_linkedin %}
                <p><strong>Linkedin:</strong> <a href="{{ item.url_linkedin }}" target="_blank">{{ item.url_linkedin }}</a></p>
                  {% endif %}
                  {% if item.url_instagram %}
                <p><strong>Instagram:</strong> <a href="{{ item.url_instagram }}" target="_blank">{{ item.url_instagram }}</a></p>
                  {% endif %}


                <!-- Customer 
                  {% if item.email %}
                <p><strong>Correo electrónico:</strong> {{ item.email }}</p>
                  {% endif %}


                <!-- Page & Article -->
                  {% if item.title %}
                <p><strong>Título:</strong> {{ item.title }}</p>
                  {% endif %}
                  {% if item.subtitle %}
                <p><strong>Subtítulo:</strong> {{ item.subtitle }}</p>
                  {% endif %}
                  {% if item.abstract %}
                <p><strong>Resumen:</strong></p>
                <div>{{ item.abstract|safe }}</div>
                  {% endif %}
                  {% if item.content %}
                <p><strong>Contenido:</strong></p>
                <div>{{ item.content|safe }}</div><br />
                  {% endif %}



                <!-- Category 
                  {% if item.descripcion %}
                <p><strong>Descripción:</strong></p>
                <div>{{ item.descripcion }} </div><br />
                  {% endif %} -->


                <!-- Image -->

                  <!-- {% if item.date %}
                <p><strong>Fecha:</strong></p>
                <div>{{ item.date }}</div><br />
                  {% endif %} -->
                    <hr />
                  {% include 'panel/acciones_ver.html' %}
              </div>
            </div>

      </div> <!-- end col-12-->
    
    </div>
  </section>

</main><!-- End #main -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}