{% extends "panel/base_admin.html" %}
{% load static %}
{% block title %} {{ page }} {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main id="main" class="main">

  <div class="pagetitle">
  <h1>{{ page }}</h1>
    {% include 'panel/breadcrumb.html' %}
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
            <div class="card">
              <div class="card-body">

                <p class="card-text">{{ description }}</p>
                <p class="card-text"><strong>{{ singular|capfirst }}:</strong> {{ item.name }}
                  {% if item.draft == True %}
                    <span class="badge badge-success">Activo</span>
                  {% else %}
                    <span class="badge badge-warning">Inactivo</span>
                  {% endif %}
                </p>


                <!-- Property -->
                  {% if item.codigo %}
                <div><strong>Dirección:</strong> {{ item.address }}</div>
                  {% endif %}
                  {% if item.price %}
                <div><strong>Precio:</strong> {{ item.price }} </div>
                  {% endif %}
                  {% if item.location %}
                <div><strong>Localización:</strong> {{ item.location }}</div>
                  {% endif %}


                <!-- Agent -->
                  {% if item.image %}
                <div><strong>Imagen:</strong> {{ item.image }} </div>
                  {% endif %}
                  {% if item.email %}
                <div><strong>Correo electrónico:</strong> {{ item.email }}</div>
                  {% endif %}
                  {% if item.descripcion %}
                <div><strong>Descripción:</strong> {{ item.descripcion }} </div>
                  {% endif %}
                  {% if item.url_twitter %}
                <div><strong>Twitter:</strong> {{ item.url_twitter }}</div>
                  {% endif %}
                  {% if item.url_facebook %}
                <div><strong>Facebook:</strong> {{ item.url_facebook }} </div>
                  {% endif %}
                  {% if item.url_linkedin %}
                <div><strong>Linkedin:</strong> {{ item.url_linkedin }}</div>
                  {% endif %}
                  {% if item.url_instagram %}
                <div><strong>Instagram:</strong> {{ item.url_instagram }} </div>
                  {% endif %}


                <!-- Customer 
                  {% if item.email %}
                <div><strong>Correo electrónico:</strong> {{ item.email }}</div>
                  {% endif %} -->


                <!-- Page & Article -->
                  {% if item.title %}
                <div><strong>Título:</strong> {{ item.title }}</div>
                  {% endif %}
                  {% if item.subtitle %}
                <div><strong>Subtítulo:</strong> {{ item.subtitle }} </div>
                  {% endif %}
                  {% if item.abstract %}
                <div><strong>Resumen:</strong> {{ item.abstract }}</div>
                  {% endif %}
                  {% if item.date %}
                <div><strong>Fecha:</strong> {{ item.date }}</div>
                  {% endif %}
                  {% if item.content %}
                <div><strong>Contenido:</strong> {{ item.content }}</div>
                  {% endif %}


                <!-- Category 
                  {% if item.descripcion %}
                <div><strong>Descripción:</strong> {{ item.descripcion }} </div>
                  {% endif %} -->


                <!-- Image -->
                  {% if item.pic %}
                <div><strong>Imagen:</strong> {{ item.pic }}</div>
                  {% endif %}
                  <!-- {% if item.date %}
                <div><strong>Fecha:</strong> {{ item.date }}</div>
                  {% endif %} -->

                  {% include 'panel/acciones_ver.html' %}
              </div>
            </div>

      </div> <!-- end col-12-->
    
    </div>
  </section>

</main><!-- End #main -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}