{% load static %}

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link {% if 'inicio' in request.path %} collapsed {% endif %}" href="{% url 'app_panel_index'%}">
          <i class="bi bi-grid"></i>
          <span>Inicio</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'inmueble' in request.path %} collapsed {% endif %}" href="{% url 'listar_inmuebles'%}">
          <i class="bx bxs-building-house"></i>
          <span>Inmuebles</span>
        </a>
      </li><!-- End Inmuebles Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'agente' in request.path %} collapsed {% endif %}" href="{% url 'listar_agentes'%}">
          <i class="bx bxs-user-rectangle"></i>
          <span>Agentes</span>
        </a>
      </li><!-- End Agentes Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'cliente' in request.path %} collapsed {% endif %}" href="{% url 'listar_clientes'%}">
          <i class="bx bxs-user-pin"></i>
          <span>Clientes</span>
        </a>
      </li><!-- End Clientes Nav -->
      
      <li class="nav-item">
        <a class="nav-link {% if 'pagina' in request.path %} collapsed {% endif %}" href="{% url 'listar_paginas'%}">
          <i class="bx bxs-file"></i>
          <span>Páginas</span>
        </a>
      </li><!-- End Páginas Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'articulo' in request.path %} collapsed {% endif %}" href="{% url 'listar_articulos'%}">
          <i class="bx bx-file"></i>
          <span>Artículos</span>
        </a>
      </li><!-- End Artículos Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'categoria' in request.path %} collapsed {% endif %}" href="{% url 'listar_categorias'%}">
          <i class="bx bxs-extension"></i>
          <span>Categoría</span>
        </a>
      </li><!-- End Categoría Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'imagen' in request.path %} collapsed {% endif %}" href="{% url 'listar_imagenes'%}">
          <i class="bx bxs-image"></i>
          <span>Imágenes</span>
        </a>
      </li><!-- End Imágenes Nav -->


      <li class="nav-heading">Configuración</li>

      <li class="nav-item">
        <a class="nav-link {% if 'perfil' in request.path %} collapsed {% endif %}" href="#">
          <i class="bi bi-person"></i>
          <span>Perfil</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'faq' in request.path %} collapsed {% endif %}" href="#">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'contacto' in request.path %} collapsed {% endif %}" href="#">
          <i class="bi bi-envelope"></i>
          <span>Contacto</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'registro' in request.path %} collapsed {% endif %}" href="#">
          <i class="bi bi-card-list"></i>
          <span>Registro</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'login' in request.path %} collapsed {% endif %}" href="#">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

      <li class="nav-item">
        <a class="nav-link {% if '404' in request.path %} collapsed {% endif %}" href="#">
          <i class="bi bi-dash-circle"></i>
          <span>Error 404</span>
        </a>
      </li><!-- End Error 404 Page Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'blank' in request.path %} collapsed {% endif %}" href="#">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li><!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->