    <a href="{% url url_ver item.id %}" class="btn btn-primary btn-round btn-icon waves-effect waves-classic" title="Revisar" data-toggle="tooltip" data-original-title="Revisar">
        <i class="ri-link-m"></i></a>
    <a href="{% url url_editar item.id %}" class="btn btn-info btn-round btn-icon waves-effect waves-classic" title="Editar" data-toggle="tooltip" data-original-title="Editar">
        <i class="ri-edit-2-fill"></i></a>
    <a href="{% url url_eliminar item.id %}" class="btn btn-danger btn-round btn-icon waves-effect waves-classic" title="Eliminar" data-toggle="tooltip" data-original-title="Eliminar">
        <i class="ri-delete-bin-fill"></i></a>