{% extends "panel/base_admin.html" %}
{% load static %}
{% block title %} {{ page }} {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main id="main" class="main">

  <div class="pagetitle">
  <h1><i class="{{ icon }}"></i> {{ page }}</h1>
  </div><!-- End Page Title -->


  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">

          <!-- Cantidad inmuebles -->
          <div class="col-xxl-2 col-md-6 col-xl-12">
            <div class="card info-card sales-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filtro</h6>
                  </li>

                  <li><a class="dropdown-item" href="{% url 'listar_inmuebles' %}">
                    <i class="bi bi-list-ul"></i>
                    Ver todos</a>
                  </li>
                  <li><a class="dropdown-item" href="{% url 'crear_inmueble' %}">
                    <i class="bi bi-plus-circle"></i> 
                    Agregar </a>
                  </li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Inmuebles <span></span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <a href="{% url 'listar_inmuebles' %}">
                      <i class="bi bi-house-heart"></i>
                    </a>
                  </div>
                  <div class="ps-3">
                    <h6>{{ count_inmuebles }}</h6>
                    <span class="text-success small pt-1 fw-bold">{{ count_inmuebles_activos }}</span> 
                    <span class="text-muted small pt-2 ps-1"> 
                      <i class="bi bi-check-circle text-success"></i>
                    </span>
                    &nbsp;|&nbsp;
                    <span class="text-danger small pt-1 fw-bold">{{ count_inmuebles_inactivos }}</span> 
                    <span class="text-muted small pt-2 ps-1"> 
                      <i class="bi bi-x-circle text-danger"></i>
                    </span>

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End inmuebles Card -->

          <!-- Cantidad clientes -->
          <div class="col-xxl-2 col-md-6 col-xl-12">
            <div class="card info-card sales-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" style="">
                  <li class="dropdown-header text-start">
                    <h6>Filtro</h6>
                  </li>

                  <li><a class="dropdown-item" href="{% url 'listar_clientes' %}">
                    <i class="bi bi-list-ul"></i>
                    Ver todos</a>
                  </li>
                  <li><a class="dropdown-item" href="{% url 'crear_cliente' %}">
                    <i class="bi bi-plus-circle"></i> 
                    Agregar </a>
                  </li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Clientes <span></span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <a href="{% url 'listar_clientes' %}">
                      <i class="bi bi-person"></i>
                    </a>
                  </div>
                  <div class="ps-3">
                    <h6>{{ count_clientes }}</h6>
                    <!--span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span-->

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End clientes Card -->

          <!-- Cantidad agentes -->
          <div class="col-xxl-2 col-md-6 col-xl-12">
            <div class="card info-card sales-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" style="">
                  <li class="dropdown-header text-start">
                    <h6>Filtro</h6>
                  </li>

                  <li><a class="dropdown-item" href="{% url 'listar_agentes' %}">
                    <i class="bi bi-list-ul"></i>
                    Ver todos</a>
                  </li>
                  <li><a class="dropdown-item" href="{% url 'crear_agente' %}">
                    <i class="bi bi-plus-circle"></i> 
                    Agregar </a>
                  </li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Agentes <span></span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <a href="{% url 'listar_agentes' %}">
                      <i class="bi bi-people"></i>
                    </a>
                  </div>
                  <div class="ps-3">
                    <h6>{{ count_agentes }}</h6>
                    

                  </div>
                </div>

              </div>
            </div>
          </div><!-- End agentes Card -->

          <!-- Cantidad artículos -->
          <div class="col-xxl-2 col-md-6 col-xl-12">
            <div class="card info-card sales-card">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filtro</h6>
                  </li>
                  <li><a class="dropdown-item" href="{% url 'listar_articulos' %}">
                    <i class="bi bi-list-ul"></i>
                    Ver todos</a>
                  </li>
                  <li><a class="dropdown-item" href="{% url 'crear_articulo' %}">
                    <i class="bi bi-plus-circle"></i> 
                    Agregar </a>
                  </li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Artículos <span></span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <a href="{% url 'listar_articulos' %}">
                      <i class="bi bi-file-richtext"></i>
                    </a>
                  </div>
                  <div class="ps-3">
                    <h6>{{ count_articulos }}</h6>
                    <span class="text-success small pt-1 fw-bold">{{ count_articulos_activos }}</span> 
                    <span class="text-muted small pt-2 ps-1"> 
                      <i class="bi bi-check-circle text-success"></i>
                    </span>
                    &nbsp;|&nbsp;
                    <span class="text-danger small pt-1 fw-bold">{{ count_articulos_inactivos }}</span> 
                    <span class="text-muted small pt-2 ps-1"> 
                      <i class="bi bi-x-circle text-danger"></i>
                    </span>


                  </div>
                </div>
              </div>

            </div>
          </div><!-- End artículos Card -->

          <!-- Cantidad categorías -->
          <div class="col-xxl-2 col-md-6 col-xl-12">
            <div class="card info-card sales-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filtro</h6>
                  </li>
                  <li><a class="dropdown-item" href="{% url 'listar_categorias' %}">
                    <i class="bi bi-list-ul"></i>
                    Ver todas</a>
                  </li>
                  <li><a class="dropdown-item" href="{% url 'crear_categoria' %}">
                    <i class="bi bi-plus-circle"></i> 
                    Agregar </a>
                  </li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Categorías <span></span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <a href="{% url 'listar_categorias' %}">
                      <i class="bi bi-tags"></i>
                    </a>
                  </div>
                  <div class="ps-3">
                    <h6>{{ count_categorias }}</h6>
                    <!--span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span-->

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End categorías Card -->


          <!-- Cantidad mensajes -->
          <div class="col-xxl-2 col-md-6 col-xl-12">
            <div class="card info-card sales-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filtro</h6>
                  </li>
                  <li><a class="dropdown-item" href="{% url 'listar_mensajes_contacto' %}">
                    <i class="bi bi-list-ul"></i>
                    Ver todos</a>
                  </li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Mensajes <span></span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <a href="{% url 'listar_mensajes_contacto' %}">
                      <i class="bi bi-envelope-paper-heart"></i>
                    </a>
                  </div>
                  <div class="ps-3">
                    <h6>{{ count_mensajes_contacto }}</h6>
                    <!--span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span-->

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End mensajes Card -->



        </div>
      </div><!-- End Left side columns -->

    </div>
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          <!-- Elementos -->
          <div class="col-12">
            <div class="card">

              <div class="card-body">
                <h5 class="card-title">Elementos <span></span></h5>

                <div class="row">
                  <div class="col-lg-12">
                    <div class="row">
            
                            {% for item in elementos %}
                            <div class="col-xxl-4 col-md-6">
                              <div class="card ">
            
                                <div class="card-header card-header-text card-header-info">
                                  <div class="card-text">
                                  <h3 class="card-title">
                                    <i class="{{ item.icon }}"></i>&nbsp; {{ item.object_title }}
                                  </h3>
                                  </div>
                                </div>
                                <div class="card-body text-muted small">
                                  <p>{{ item.object_description }}</p>
                                </div>
                                <div class="card-footer mx-auto">
                                    {% if item.url_crear %}
                                    <a href="{% url item.url_crear %}" class="btn btn-outline-success btn-round rounded-pill"> 
                                      <i class="bi bi-plus-circle"></i>&nbsp;
                                      <span class="text">Crear</span>
                                    </a>&nbsp;&nbsp;
                                    {% endif %}
                                    <a href="{% url item.url_listar %}" class="btn btn-outline-primary btn-round rounded-pill"> 
                                      <span class="text">Ver todo</span>&nbsp;
                                      <i class="bi bi-arrow-right-circle"></i>
                                    </a>
                                </div>
                              </div>
                            </div>
                            {% endfor %}  
            
                    </div>
                  </div> <!-- end col-12-->


                </div>
              </div>
            </div>
          </div><!-- End Elementos -->

          <!-- Funcionalidades -->
          <div class="col-12">
            <div class="card">

              <div class="card-body">
                <h5 class="card-title">Funcionalidades <span></span></h5>

                <div class="row">
                  <div class="col-lg-12">
                    <div class="row">
            
                            {% for item in funcionalidades %}
                            <div class="col-xxl-4 col-md-6">
                              <div class="card ">
            
                                <div class="card-header card-header-text card-header-info">
                                  <div class="card-text">
                                  <h3 class="card-title">
                                    <i class="{{ item.icon }}"></i>&nbsp; {{ item.object_title }}
                                  </h3>
                                  </div>
                                </div>
                                <div class="card-body text-muted small">
                                  <p>{{ item.object_description }}</p>
                                </div>
                                <div class="card-footer mx-auto">
                                    {% if item.url_crear %}
                                    <a href="{% url item.url_crear %}" class="btn btn-outline-success btn-round rounded-pill"> 
                                      <i class="bi bi-plus-circle"></i>&nbsp;
                                      <span class="text">Crear Nuevo</span>
                                    </a>
                                    {% endif %}
                                    <a href="{% url item.url_listar %}" class="btn btn-outline-primary btn-round rounded-pill"> 
                                      <span class="text">Ver todo</span>&nbsp;
                                      <i class="bi bi-arrow-right-circle"></i>
                                    </a>
                                </div>
                              </div>
                            </div>
                            {% endfor %}  
            
                    </div>
                  </div> <!-- end col-12-->


                </div>
              </div>
            </div>
          </div><!-- End Funcionalidades -->
        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">

        <!-- Inmuebles recientes -->
        <div class="card">

          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filtro</h6>
              </li>

              <li><a class="dropdown-item" href="{% url 'listar_inmuebles' %}">
                <i class="bi bi-list-ul"></i>
                Ver todos</a>
              </li>
              <li><a class="dropdown-item" href="{% url 'crear_inmueble' %}">
                <i class="bi bi-plus-circle"></i> 
                Agregar </a>
              </li>
            </ul>
          </div>

          <div class="card-body pb-0">
            <h5 class="card-title">Inmuebles recientes</h5>

            <div class="news">
              {% for item in inmuebles %}
              <div class="post-item clearfix">
                <img src="{{ item.image_main.url }}" alt="">
                <h4><a href="{% url 'ver_inmueble' item.id %}">{{ item.name }}</a></h4>
                <p>
                  {% if item.draft == False %}
                    <span class="badge badge-success">Activo</span><br>
                  {% elif item.draft == True %}
                    <span class="badge badge-warning">Borrador</span><br>
                  {% endif %}
                  <strong>Fecha:</strong> {{ item.date }} <br>
                  <strong>Dirección:</strong> {{ item.address }} <br>
                  <strong>Localización:</strong> {{ item.location }} <br>
                  <strong>Tipo inmueble:</strong> {{ item.fk_tipo_inmueble }}<br>
                  <strong>Agente:</strong> <a href="{% url 'ver_agente' item.fk_agent.id %}">{{ item.fk_agent }}</a></p>
              </div>
              {% endfor %}

            </div><!-- End sidebar recent posts-->

          </div>
        </div><!-- End Inmuebles recientes -->

        <!-- Mensajes recientes -->
        <div class="card">

          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filtro</h6>
              </li>
              <li><a class="dropdown-item" href="{% url 'listar_mensajes_contacto' %}">
                <i class="bi bi-list-ul"></i>
                Ver todos</a>
              </li>
            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">Mensajes recientes <span></span></h5>
            <div class="activity">

              {% for item in mensajes_contacto %}
              <div class="activity-item d-flex">
                <div class="activite-label">{{ item.name }}</div>
                <i class="bi bi-circle-fill activity-badge text-info align-self-start"></i>
                <div class="activity-content">
                  <strong>
                    <a href="{% url 'ver_mensaje_contacto' item.id %}">
                    {{ item.subject }}
                    </a>
                  </strong> <br>
                  {{ item.created }}
                </div>
              </div><!-- End activity item-->
              {% endfor %}

            </div>
          </div>
        </div><!-- End Recent Activity -->

        <!-- Artículos recientes -->
        <div class="card">

          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filtro</h6>
              </li>
              <li><a class="dropdown-item" href="{% url 'listar_articulos' %}">
                <i class="bi bi-list-ul"></i>
                Ver todos</a>
              </li>
              <li><a class="dropdown-item" href="{% url 'crear_articulo' %}">
                <i class="bi bi-plus-circle"></i> 
                Agregar </a>
              </li>
            </ul>
          </div>

          <div class="card-body pb-0">
            <h5 class="card-title">Artículos recientes</h5>

            <div class="news">
              {% for item in articulos %}
              <div class="post-item clearfix">
                <img src="{{ item.image_main.url }}" alt="">
                <h4><a href="{% url 'ver_articulo' item.id %}">{{ item.name }}</a></h4>
                <p>
                  {% if item.draft == False %}
                    <span class="badge badge-success">Activo</span><br>
                  {% elif item.draft == True %}
                    <span class="badge badge-warning">Borrador</span><br>
                  {% endif %}
                  <strong>Fecha:</strong> {{ item.date }} <br>
                  <strong>Categoría:</strong> <a href="{% url 'ver_categoria' item.fk_categoria.id %}">{{ item.fk_categoria }}</a><br>
                  <strong>Agente:</strong> <a href="{% url 'ver_agente' item.fk_agent.id %}">{{ item.fk_agent }}</a>
                </p>
              </div>
              {% endfor %}

            </div><!-- End sidebar recent posts-->

          </div>
        </div><!-- End Artículos recientes -->

      </div><!-- End Right side columns -->

    </div>
  </section>

</main><!-- End #main -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}