{% extends "panel/base_admin.html" %}
{% load static %}
{% block title %} {{ page }} {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main id="main" class="main">

  <div class="pagetitle">
  <h1>{{ page }}</h1>
    {% include 'panel/breadcrumb.html' %}
  </div><!-- End Page Title -->

  <section class="section">

    <div class="row">
      <div class="col-lg-12">


          <div class="card">

            <div class="card-body">

              {% include 'panel/add_menu.html' %}

              {% if success_create == 'OK' %}
                <div class="alert alert-success fade show" role="alert">
                  <i class="bi bi-plus-circle"></i>
                  El registro fue <strong>agregado</strong> correctamente.
                </div>
              {% endif %}
              {% if success_edit == 'OK' %}
                <div class="alert alert-success fade show" role="alert">
                  <i class="bi bi-pencil-square"></i>
                  El registro fue <strong>editado</strong> correctamente.
                </div>
              {% endif %}
              {% if success_delete == 'OK' %}
                <div class="alert alert-success fade show" role="alert">
                  <i class="bi bi-trash3"></i>
                  El registro fue <strong>eliminado</strong> correctamente.
                </div>
              {% endif %}

              {% if object_list %}
              <h5 class="card-title">Lista de {{ plural|capfirst }}</h5>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>{{ plural|capfirst }}</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
  
                  {% for item in object_list %}
                  <tr>
                    <td> {{ item.id }} </td>

                    <td> 

                      <div class="row">
                        <div class="col-md-2">
                        {% if item.image_main %}
                          <div class="text-center">
                            <img class="img img-thumbnail" src="{{ item.image_main.url }}" width="75" alt="{{ item.name }}" />
                          </div>
                        {% endif %}
                        </div>
                        <div class="col-md-10">
                          <p>
                            <a href="{% url url_ver item.id %}"> <strong>{{ item.name }}</strong></a> <br />

                            {% if item.draft == False %}
                              <span class="badge badge-success">Activo</span>
                            {% else %}
                              <span class="badge badge-warning">Borrador</span>
                            {% endif %}
                            {% if item.fk_categoria %}
                              <span class="badge badge-info">{{ item.fk_categoria }}</span>
                            {% endif %}

                            {% if item.date %}
                              <span class="badge badge-default">{{ item.date }}</span>
                            {% endif %}
                            {% if item.fk_tipo_inmueble %}
                              <span class="badge badge-info">{{ item.fk_tipo_inmueble }}</span>
                            {% endif %}
                            {% if item.bath_qty %}
                              <span class="badge badge-success">{{ item.bath_qty }} baños</span>
                            {% endif %}
                            {% if item.room_qty %}
                              <span class="badge badge-primary">{{ item.room_qty }} hab.</span>
                            {% endif %}
                          </p>
                        </div>
                      </div>

                    </td>
                    <td>
                      {% include 'panel/acciones_listar.html' %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}

                <div class="alert alert-warning fade show" role="alert">
                  No existen registros.
                </div>
      
              {% endif %}

              {% include 'panel/add_menu.html' %}
            </div>
          </div>

      </div> <!-- end col-12-->

    </div>
  </section>

</main><!-- End #main -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}