{% load static %}

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link {% if 'inicio' in request.path %} collapsed {% endif %}" href="{% url 'app_panel_index'%}">
          <i class="bi bi-grid"></i>
          <span>Inicio</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-heading">Propiedades</li>

      <li class="nav-item">
        <a class="nav-link {% if 'inmueble' in request.path %} collapsed {% endif %}" href="{% url 'listar_inmuebles'%}">
          <i class="bi bi-house-heart"></i>
          <span>Inmuebles</span>
        </a>
      </li><!-- End Inmuebles Nav -->

      {% if 'admin' in request.user.groups.all.0.name %}
      <li class="nav-item">
        <a class="nav-link {% if 'tipo_inmueble' in request.path %} collapsed {% endif %}" href="{% url 'listar_tipo_inmuebles'%}">
          <i class="bi bi-building"></i>
          <span>Tipo de inmueble</span>
        </a>
      </li><!-- End Tipo de inmueble Nav -->
      
      <li class="nav-item">
        <a class="nav-link {% if 'agente' in request.path %} collapsed {% endif %}" href="{% url 'listar_agentes'%}">
          <i class="bi bi-people"></i>
          <span>Agentes</span>
        </a>
      </li><!-- End Agentes Nav -->
      {% endif %}
      
      <!--li class="nav-item">
        <a class="nav-link {% if 'cliente' in request.path %} collapsed {% endif %}" href="{% url 'listar_clientes'%}">
          <i class="bi bi-person"></i>
          <span>Clientes</span>
        </a>
      </li>< End Clientes Nav -->

      <li class="nav-heading">Blog</li>
      
      <li class="nav-item">
        <a class="nav-link {% if 'pagina' in request.path %} collapsed {% endif %}" href="{% url 'listar_paginas'%}">
          <i class="bx bxs-file"></i>
          <span>Páginas</span>
        </a>
      </li><!-- End Páginas Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'articulo' in request.path %} collapsed {% endif %}" href="{% url 'listar_articulos'%}">
          <i class="bi bi-file-richtext"></i>
          <span>Artículos</span>
        </a>
      </li><!-- End Artículos Nav -->
      
      <li class="nav-item">
        <a class="nav-link {% if 'categoria' in request.path %} collapsed {% endif %}" href="{% url 'listar_categorias'%}">
          <i class="bi bi-tags"></i>
          <span>Categorías</span>
        </a>
      </li><!-- End Categoría Nav -->

      
      <li class="nav-heading">Funcionalidades</li>

      <li class="nav-item">
        <a class="nav-link {% if 'mensajes_agente' in request.path %} collapsed {% endif %}" href="{% url 'listar_mensajes_agente'%}">
          <i class="bi bi-envelope-paper-heart"></i>
          <span>Mensajes de Agentes</span>
        </a>
      </li><!-- End Mensajes internos Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'mensajes_propiedad' in request.path %} collapsed {% endif %}" href="{% url 'listar_mensajes_inmueble'%}">
          <i class="bi bi-envelope-paper-heart"></i>
          <span>Mensajes de Propiedades</span>
        </a>
      </li><!-- End Mensajes internos Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'mensajes_contacto' in request.path %} collapsed {% endif %}" href="{% url 'listar_mensajes_contacto'%}">
          <i class="bi bi-envelope-paper-heart"></i>
          <span>Mensajes de Contacto</span>
        </a>
      </li><!-- End Mensajes contacto Nav -->
      {% if 'admin' in request.user.groups.all.0.name %}

      
      <li class="nav-item">
        <a class="nav-link {% if 'frontend' in request.path %} collapsed {% endif %}" href="{% url 'listar_busquedas_frontend'%}">
          <i class="bi bi-search"></i>
          <span>Búsqueda de sitio web</span>
        </a>
      </li><!-- End Búsqueda de sitio web Page Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'backend' in request.path %} collapsed {% endif %}" href="{% url 'listar_busquedas_backend'%}">
          <i class="bi bi-search"></i>
          <span>Búsqueda de panel admin</span>
        </a>
      </li><!-- End Búsqueda de panel admin Nav -->
      {% endif %}


      <li class="nav-heading">Configuración</li>

      <li class="nav-item">
        <a class="nav-link {% if 'perfil' in request.path %} collapsed {% endif %}" href="{% url 'ver_perfil' %}">
          <i class="bi bi-person"></i>
          <span>Perfil</span>
        </a>
      </li><!-- End Profile Page Nav -->

      {% comment %}
      <li class="nav-item">
        <a class="nav-link {% if 'usuarios' in request.path %} collapsed {% endif %}" href="{% url 'profiles' %}">
          <i class="bi bi-people"></i>
          <span>Usuarios</span>
        </a>
      </li><!-- End Users Page Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'faq' in request.path %} collapsed {% endif %}" href="#">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'contacto' in request.path %} collapsed {% endif %}" href="#">
          <i class="bi bi-envelope"></i>
          <span>Contacto</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'registro' in request.path %} collapsed {% endif %}" href="#">
          <i class="bi bi-card-list"></i>
          <span>Registro</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'login' in request.path %} collapsed {% endif %}" href="#">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

      <li class="nav-item">
        <a class="nav-link {% if '404' in request.path %} collapsed {% endif %}" href="#">
          <i class="bi bi-dash-circle"></i>
          <span>Error 404</span>
        </a>
      </li><!-- End Error 404 Page Nav -->

      <li class="nav-item">
        <a class="nav-link {% if 'blank' in request.path %} collapsed {% endif %}" href="{% url 'blank' %}">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li><!-- End Blank Page Nav -->
      {% endcomment %}

      <li class="nav-item">
        <a class="nav-link {% if 'salir' in request.path %} collapsed {% endif %}" href="{% url 'salir' %}">
          <i class="bi bi-box-arrow-right"></i>
          <span>Salir</span>
        </a>
      </li><!-- End Salir Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->