{% extends "RealStateApp/main-base.html" %}

{% load static %}

{% comment %} {% block titulo %}
<h1 class="mb-5">Add Property</h1>
{% endblock %} {% endcomment %}

{% block content %}
<form action="{% url 'addproperty' %}" method="POST" align="center"> {% csrf_token %}

        <h3 style="color: white;">Enter Property</h3>
        <li>
        <input type="text" name="address" placeholder="Enter address">
        </li>
        <li>
        <input type="number" name="price" placeholder="Enter price">
        </li>
        <li>
        <input type="text" name="location" placeholder="Enter location">
        </li>
        <p>
            
        </p>
        <button type="submit" class="btn btn-primary">Save to Database</button>
</form>
{% endblock %}